html, body { margin: 0; padding: 0;}

/***************************[ Layout ]****************************/
#notifyIsFileRestore, #notifyDisabledCustom,
#notifyMissingMySQLi, #notifyMissingZIP,
#formCustom, #formAuth { display: none; }

#container {
    margin: 0;padding: 0;
    min-width: 340px; max-width: 340px;
    min-height: 455px; max-height: 455px;
    background-image: url('../img/background.png'); background-size: 355px 455px;
    font-family: Comic Sans MS, cursive; font-size: 16px;
}
    #conainer-1 {
        display: flex; flex-wrap: wrap;
        width: 340px; height: 220px;
        margin:0; padding:0;
    }
        #leftSidebar {
            /*border: solid 1px black;*/
            float:left;
            width: 85px; height: 220px;
        }
        #rightSidebar {
            float:right;
            width: 250px; height: 220px;
        }
            #title{
                /*border: solid 1px black;*/
                float:left;
                width:100%; height:30px;
            }
            #checkboxesCustom {
                /*border: solid 1px black;*/
                position:relative; float:left;
                height:185px; width:100%;
                z-index: 2;
            }
    #conainer-2 {
        display: flex; flex-wrap: wrap;
        width: 340px; height: 230px;
        margin:0; padding:0;
    }
        #divForms {
            /*border: solid 1px black;*/
            width:100%; height: 70px;
            margin-top: 14px;
        }
            #buttonCustom {
                /*border: solid 1px black;*/
                float: right;
                width:200px; height: 50px;
            }
            #radioCustom {
                /*border: solid 1px black;*/
                float: left;
                width:100px; height: 50px;
            }
        #additionalButtons {
            /*border: solid 1px black;*/
            border-top: solid 1px rgb(144, 212, 235);
            border-bottom: solid 1px rgb(144, 212, 235);
            width:280px; height: 50px;
        }
            #divDelete {
                /*border: solid 1px black;*/
                float: left;
                width: 70px; height: 50px;
            }
            #divGetLog {
                /*border: solid 1px black;*/
                float: left;
                width: 70px; height: 50px;
            }
            #divRestoreTable {
                /*border: solid 1px black;*/
                float: left;
                width: 70px; height: 50px;
                /*display: none;*/
            }
        #notifications {
            /*border: solid 1px black;*/
            width:230px; height: 90px;
            margin-top: 5px; margin-left: 5px;
        }
            #notifyModules {
                width:230px; height: 46px;
            }
                #notifyMissingMySQLi {
                /*border: solid 1px black; */
                display: inline-block;
                width:230px; height: 18px;
            }
                #notifyMissingZIP {
                /*border: solid 1px black; */
                display: inline-block;
                width:230px; height: 18px;
            }
            #notifyActions {
                width:230px; height: 46px;
            }
                #notifyDisabledCustom {
                    /*border: solid 1px black; */
                    display: inline-block;
                    width:230px; height: 18px;
                }
                #notifyIsFileRestore {
                    /*border: solid 1px black; */
                    display: inline-block;
                    width:230px; height: 18px;
                }

/***************************[ Icon size ]****************************/
.icon-16 {width: 16px; height: 16px;}
.icon-18 {width: 18px; height: 18px;}
.icon-22 {width: 22px; height: 22px;}
.icon-34 {width: 34px; height: 34px;}
.icon-radio {width: 38px; height: 35px;}

/***************************[ Logo ]****************************/
.logo {
    position: relative; display: block;
    margin-top: 25%; margin-left: 5%;
    width: 80px;
}
#title .icon-logo {
    position: absolute;
    top: -100px; left: 78px;
    width: 280px; height: 280px;
    z-index: 1;
}
#formTitle {
    margin: 5%;
    font-size: 18px;
}

/***************************[ Form Button ]****************************/
.button {
    position: relative; display: inline-block;
    margin-left: 40px; padding: 10px 25px;
    width: 130px; height: 40px;
    font-family: Comic Sans MS, cursive; font-weight: 500;
    color: #fff;
    background: transparent;
    transition: all 0.3s ease; cursor: pointer; outline: none;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}
#buttonForm {
    padding: 0;
    border: none; line-height: 42px;
    background-color: #f0ecfc;  /*мигает при наведении*/
    background-image: linear-gradient(315deg, #bedcf0 0%, #69b4dc 74%);
}
#buttonForm span {
    position: relative; display: block;
    width: 100%; height: 100%;
}
#buttonForm:before,
#buttonForm:after {
    position: absolute;
    content: "";
    right: 0; bottom: 0;
    background: #69b4dc; /*botton line*/
    transition: all 0.3s ease;
    color: #69b4dc;
}
#buttonForm:before { width: 2px; height: 0%; }
#buttonForm:after { width: 0; height: 2px; }
#buttonForm:hover:before { height: 100%; }
#buttonForm:hover:after { width: 100%; }
#buttonForm:hover{ background: transparent; }
#buttonForm span:hover{ color: #69b4dc; background: none;/*text afte hover*/}
#buttonForm span:before,
#buttonForm span:after {
    position: absolute;
    content: "";
    top: 0; left: 0;
    background: #69b4dc; /* top line */
    transition: all 0.3s ease;
}
#buttonForm span:before { width: 2px; height: 0%; }
#buttonForm span:after { width: 0; height: 2px; }
#buttonForm span:hover:before { height: 100%; }
#buttonForm span:hover:after { width: 100%; }

/****************************[ Close button ]****************************/
#buttonClose {
    position: absolute; display: block;
    right: 0; top: 0; padding: 0;
    border: none;  cursor: pointer; z-index: 2;
    font: inherit; color: inherit; background-color: transparent;
}

/****************************[ Restore button ]****************************/
#buttonRestoreTable {
    font: inherit; color: inherit; background-color: transparent;
    font-size: 12px; padding: 15px; text-decoration: none;
}

/****************************[ Radio button ]****************************/
.radioCustomItem > input { display: none; }
.radioCustomItem { margin-top: 4px; margin-left: 74px; width: 40px;}

    /****************************[ Checkbox ]****************************/
.checkboxCustom {
    padding-left: 10px;padding-bottom: 10px;padding-top: 15px;
    font-size: 14px;
}
.checkbox-outer {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    float: left;
    margin-left: 1px;
    margin-right: 4px;
}
.checkbox-outer input[type="checkbox"] {
    margin: 0;
    padding: 0;}
.checkbox-pic {
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: block;
    background: url('../img/notCheked.svg') white 0 0 no-repeat;
}
.checkbox-pic:before {
    content: " ";
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('../img/cheked.svg') top left no-repeat;
    opacity: 0;
    transform: scale(3) rotateZ(-20deg);
    -moz-transform: scale(3) rotateZ(-20deg);
    -o-transform: scale(3) rotateZ(-20deg);
    -webkit-transform: scale(3) rotateZ(-20deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    z-index: -1;
}
.checkbox-outer input[type="checkbox"]:checked + .checkbox-pic:before {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
    -moz-transform: scale(1) rotateZ(0deg);
    -webkit-transform: scale(1) rotateZ(0deg);
    -o-transform: scale(1) rotateZ(0deg);
    -ms-transform: scale(1) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}
.text {
    display: block;
    position: absolute;
    left: 25px;
    top: 0px;
    width: 220px;

}
#textLocal {width: 40px;}
#textInit {width: 155px;}
#textTemplateDefault {width: 220px;}
#textCustomModules {width: 130px;}

/****************************[ Additional buttons ]****************************/
#additionalButtons img {
    /*display: block;*/
    margin-left: 26px; margin-right: 26px;margin-top: 6px; margin-bottom: 6px;
}
.static { display: block;} .static:hover { display: none; }
.dynamic { display: none;} .static:hover + .dynamic { display: block; }


/****************************[ Sign in Form ]****************************/
.signin {
    position: absolute;
    margin-left: 35px; margin-top: 200px;
    height: 90px; width: 265px;
    border-radius: 8px;
}
.signin::before {
    display: block; position: relative;
    height: 2px; top: 44px;
    margin-left: 20px; z-index: 1;
    background: rgb(105, 180, 220); content: '';
}
.signin input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.signin input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.signin  input[type="text"], .signin  input[type="password"], .signin button[type="submit"]{
    box-shadow: inset -100px -100px 0 rgb(242, 250, 255);
    color: rgb(52, 56, 61);
}
.signin  input[type="text"], .signin  input[type="password"]{
    position: relative; display: block;
    width: 245px; height: 45px;
    top: -2px;
    border: 0; outline: 0;
    padding: 0 0 0 20px;
    font-weight: 700;
}

.signin button[type="submit"]{
    display: block; position: absolute;
    width: 52px; height: 52px;
    top: 19px; right: -24px;
    z-index: 2; outline: 0;
    padding-left: 9px; padding-bottom: 3px;
    color: rgb(105, 180, 220);
    border-radius: 50px; border: 6px solid rgb(105, 180, 220);
    font-size: 25px; text-indent: 0px;
    text-align: center;
}
.signin button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    cursor: pointer;
}
.signin p {
    margin: 5px 0 0 0; padding: 0 20px;
    color: rgb(79, 85, 97);
    font-weight: 700;
    font-size: 12px;
}
.signin p > a{
    color: rgb(242, 250, 255);
    text-decoration: none;
}
.signin p > a:hover{
    border-bottom: 1px solid;
}


#divUpload {
    position: absolute;
    margin-top: 120px; margin-left: -30px;
    width: 50px; height: 40px;
}